git+https://github.com/abdalsalamfalah/bot.py
python-telegram-bot==11.0.0
telegram==0.0.1
click==7.1.2
six==1.15.0
requests==2.24.0
chardet==3.0.4
idna==2.5
certifi==2020.6.20
urllib3==1.25.11
datetime==4.3
pytz==2020.1
zope.interface==5.2.0
setuptools==51.1.1
